h2{
    color: #aaa;
}

.wrapper{
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #272b30;
}
.wrapper_body{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 80%;
    height: auto;
}

.hr{
    color: #aaa;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    border: none;
    border-top: 2px solid white;
}
.title_hr{
    position:relative
}
.game_carts{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}

.img{
    border-radius: 20px;
}
.button_carts{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.button_free{
    color: #aaa;
    background-color: #32383e;
    border-color: #32383e;
    border-radius: 10px;
    width: 25%;
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover{
        background-color: #4a5259;
        color: #fff;

    }
}
.button_playnow{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#4799eb),
        color-stop(60%, #4799eb),
        to(#49acff)
      );
      background-image: linear-gradient(#4799eb, #4799eb 60%, #49acff);
      background-repeat: no-repeat;
      -webkit-filter: none;
      filter: none;
      color: #fff;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease;
      &:hover{
        background: linear-gradient(#49acff, #4799eb);
      }
}
.game_link{
    border-radius: 10px;
    width: 65%;
    height: 50px;
}

.game_about{
    width: 55%;
    height: auto;

 }  
.title{
    color: #aaa;
}

.description{
    color: #aaa;
}
.image{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.additionalI_information{
    color: #aaa;
}

.grid_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    
}

.grid_info{
    padding-bottom: 10px;
    p{
        margin: 0;
    }
}

.min{
    color: #aaa;
}
.grid_item_min{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

.screenshot{
    display: flex;
    justify-content: space-between;
}
.screenshotMore{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.screen{
    width: 32%;
    padding-bottom: 20px;
}
.screenMore{
    width: 49%;
    margin-bottom: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    width: 90%;
    height: 90%;
    background: #fff; 
  }
  
  .modalImage {
    width: 100%;
    height: 100%;
  }
  