
.grid-menu{
    a{
        max-width:300px ;
        text-decoration: none; 
        color: inherit; 
        cursor: pointer; 
    }
    
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 0 15px 15px 15px;
    
}

