
.grid-menu{
    a{
        text-decoration: none; /* Убирает подчеркивание ссылок */
        color: inherit; /* Наследует цвет текста от родительского элемента */
        cursor: pointer; /* Меняет курсор на указатель при наведении */
    }
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 колонки */
    grid-gap: 10px; /* Отступ между ячейками */
    padding: 0 15px 15px 15px;
}

